.header{
    background-color: black;
    color: whitesmoke;
    text-align: center;
}
img{
    width: 350px;
    height: auto;
}
h2{
    color: black;
}
*{
    font-family: "Times New Roman", Times, serif;
}
p{
    background-color: black;
    color: whitesmoke;
}
body{
    background-color: aqua;
}
.ImgSection{
    border: 2px solid red;
    width: 350px;
    height: auto;
}

.desSection{
    border: 2px solid red;
}
.ingredSection{
    border: 2px solid red;
}
.stepSection{
    border: 2px solid red;
}