h1{
    text-align: center;
    background-color: black;
    color: whitesmoke;
}
button{
    background-color: yellow;
    color: black;
    font-size: 28px;
}

*{
    font-family: "Times New Roman";
}
body{
    background-color: aqua;
}